.App{
  width: 100%;
}

div.navbar ul {
margin-right: 30px;
}

div.navbar ul li {
  display: inline;
  margin-left:10px;
  padding: 4px;
}

li {
  display: inline;
}

.button {
  border-radius: 5px;
  padding: 8px;
}

li:hover {
  color:pink;
}

li.button:hover {
  background-color: rgb(255,192,203, 0.8);
  color: black;
  box-shadow: 2px 2px 15px white, -2px -2px 15px white, 2px -2px 15px white, -2px 2px 15px white;
}

.color-button{
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255,192,203, 0.8);
  color: black;
 
}
.color-button:hover{
  
  box-shadow: 2px 2px 15px rgb(255,192,203, 0.8), -2px -2px 15px rgb(255,192,203, 0.8), 2px -2px 15px rgb(255,192,203, 0.8), -2px 2px 15px rgb(255,192,203, 0.8);
  color:black
}

#logo {
  height: 60px;
  padding-left: 20px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  background-image: url('./images/darkblue.jpeg');
  color: white;
  font-weight: 700;
}

.project-content {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;
}

.big-logo {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: -110px;
}

#developer{
  padding-bottom: 30px;
}

.developer-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.developer-h2{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.developer-content h2{
  margin-top: 0;
}

.developer-content {
  line-height: 35px;
}

#footer {
  background-image: url('./images/darkblue.jpeg');
  width: 100%;
}

.footer-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 30px;
}

.footer-img, .footer-button-ul {
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  color: black;
  font-size: 30px;
}

.contact-button-ul {
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  color: black;
  font-size: 30px;
  padding-left: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 100px;
}

.color-button-ul{
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  color: black;
  font-size: 30px;
  padding-left: 0;
  text-align: center;
}

div.footer-container ul {
  padding-left: 0;
  margin-top: -30px;
}

.footer-button {
  background-color: white;
}

.footer-icons-ul {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  color: white;
}

.footer-icons-ul li {
  padding-right: 15px;
  padding-left: 15px;
}

.project-samples{
  display: flex;
flex-direction: row;
justify-content: center;
padding-top: 30px;
padding-bottom: 50px;
}

.sample {
  padding: 20px;
}

.samples-p {
  padding-top: 30px;
}

.devIcons{
  margin-top: 40px;
  width: 60px
}

.tool-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
}

.icons-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

h2{
  padding-top: 25px;
}

.video {
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-content-video {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;

}

.about-large-screen {
  display: inline-block;
}

.about-small-screen {
  display:none;
}

.recognition-image{
  margin-right: 10px;
}

.recog-flex {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.darya-logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.cls-1{
  fill:#fff;
  fill-rule:evenodd;
}
.cls-1:hover{
  fill:pink;
}

.logo-for-hover{
  height: 45px;
  margin-bottom: -10px;
  margin-right:0px;
}

.logo-for-hover-mail{
  height: 40px;
  margin-bottom: -8px;
}

.logo-for-hover-mail:hover{
  fill: pink;
}

@media only screen and (max-width: 768px) {

  #footer {
    width: 100%;
  }
  
  .project-content {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-content-video {
    width: 300px;
  }

  iframe {
    width: 300px;
    height: 160px;
  }

  .developer-h2{
    width: 290px;
  }

  .developer-container{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    line-height: 65px;
    margin-top: 140px;
  }

  .footer-container {
    width: 100%;
    
  }

  .big-logo {
    width: 100%;
    margin-top: 40px;
    margin-bottom: -160px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  .big-logo-img {
    width: 380px ;
  }

  .project-samples{
    display: flex;
    flex-wrap: wrap;
    
  }

  .tool-card{
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar {
    width:100%;
  }

  .about-large-screen{
    display: none;
  }

  .about-small-screen{
    display: inline-block;
  }
  #logo{
    height: 40px;
    padding: 0;
  }

  .navbar {
    justify-content: left;
  }

  .navbar-links{
    padding: 0;
  }

  .footer-icons {
    margin-left: -5px;
    margin-right: -5px;
  }
}


